services:
  tritonserver:
    image: nvcr.io/nvidia/tritonserver:25.01-py3
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    restart: always
    entrypoint: ["/bin/bash", "/workspace/entrypoint.sh"]
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
    volumes:
      - ./model_repository:/models
      - ./entrypoint.sh:/workspace/entrypoint.sh
